
html, body
{
    height: 100%;
}

.map {
	float: left;
	width: 70%;
	height: 100%;
}

.reportIssue {
	width: 30%;
	height: 100%;
	float: right;
	background-color: #123456;
}

.textBox{
	margin: 5px 5px 5px 5px;
	background-color: #123000;
	height: 20%;
	text-align: center;
	color: #FFFFFF;
}

.information {
	height: 80%;
	background-color: #FAB;
	margin: 5px 5px 5px 5px;
}
